/*The Author*/
div.Author{
    background-color: white;

    padding: 10px;
}

div.Author aside.Author_inner{
    padding: 10px;
}

div.Author aside.Author_inner p{
    margin: 5px;

    text-align: center;

    overflow: auto;
}