/*The Header part*/
.Header{
    background-color: hsla(41, 100%, 95%, 0.8);

    margin: 100px 200px 30px;
    
    border-style: dashed;
    border-width: medium;
    border-radius: 25px;

    padding: 0px 15px 15px;
}

.Header h1{
    margin: 5px 0px 5px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bold;
}

.Header p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.Header strong{
    font-family: 'Comic Sans MS', serif;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.Header code{
    background-color: peachpuff;

    border-style: none;
    border-radius: 5px;

    padding: 2px;

    font-family: 'Fira Code', 'Courier New', sans-serif;
    font-size: 18px;
    color: indianred;
}