/*The Main_Body*/
.Main_Body{
    background-color: hsla(41, 100%, 95%, 0.9);
    margin: 10px 200px 30px 500px;
    
    border-style: dashed;
    border-width: bold;
    border-radius: 25px;

    padding: 10px;
}

/*The Main_Body_Title*/
.Main_Body_Title{
    margin: 0px;

    border-style: none;
    border-radius: 0px;

    padding: 5px
}

.Main_Body_Title h2{
    text-align: left;
    font-family: 'Comic Sans MS', serif;
    font-size: 36px;

    margin: 5px;
}

.Main_Body_Title code{
    background-color: peachpuff;

    border-style: none;
    border-radius: 5px;

    padding: 2px;

    font-family: 'Fira Code', 'Courier New', sans-serif;
    font-size: 18px;
    color: indianred;
    vertical-align: middle;
}

/*The Main_Body_Article*/
.Main_Body_Article{
    margin: 0px;

    border-style: none;
    border-radius: 0px;

    padding: 5px
}

.Main_Body_Article p, .Main_Body_Article a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;

    margin: 0px 5px 15px 5px;
}

.Main_Body_Article a{
    text-decoration: underline;
}

.Main_Body_Article code{
    background-color: peachpuff;

    border-style: none;
    border-radius: 5px;

    padding: 2px;

    font-family: 'Fira Code', 'Courier New', sans-serif;
    font-size: 15px;
    color: indianred;
}

/*The Main_Body_Update_Date*/
.Main_Body_Update_Date{
    margin: 0px;

    border-style: none none none solid;
    border-radius: 0px;
    border-left-color: cornflowerblue;
    border-left-width: 5px;
    background-color: rgb(221, 255, 255);

    padding: 5px
}

.Main_Body_Update_Date p, .Main_Body_Update_Date a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin: 0px 5px 5px 5px;
}