body {
    /*The image is now uploaded to imgtu*/
    background-image: url("https://s4.ax1x.com/2022/02/05/HniRun.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.Header{
    background-color: hsla(41, 100%, 95%, 0.8);

    margin: 100px 200px 30px;
    
    border-style: solid;
    border-width: thin;
    border-radius: 25px;

    padding: 15px;
}
