/*The Grid-Container wrapper*/
.Wrapper {
    display: grid;
    gap: 20px;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    
}

.Header{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.Author{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.Main_Body{
    grid-column: 2 / 6;
    grid-row: 2 / 5;
}