/*All the animations in page*/

/*Some vars*/
:root{
    --link-blue: rgb(0, 0, 255);
    --link-red: rgb(220, 0, 84);
    --link-hover-sky-blue: rgb(49,94,251);
    --link-visited-red-purple: rgb(152, 91, 158);
    --social-link-hover-grey: rgb(10, 10, 10);
    --social-link-active-grey: var(--social-link-hover-grey);
    --button-bgimage: linear-gradient(rgb(252, 252, 252), rgb(245, 245, 245));
    --button-bgimage-hover: linear-gradient(rgb(230, 230, 230), rgb(227, 227, 227));
    --button-bgimage-active: var(--button-bgimage-hover);
    --util-button-border-hover: rgb(49, 251, 184);
}

/*My photo --- rotate*/
aside.Sidebar div.Author div.Author_Photo img#Author{
    transform: rotateZ(0deg); 
    /*Code from my generated site*/
    transition: transform 2s ease-in-out;
}

aside.Sidebar div.Author div.Author_Photo:hover img#Author{
    transform: rotateZ(360deg);
}

/*Links --- color*/
a:link{
    color: var(--link-blue);
}

a:hover{
    color: var(--link-hover-sky-blue);
}

a:active{
    color: var(--link-red);
}

a:visited{
    color: var(--link-visited-red-purple)
}

/*Buttons --- color*/
button{
    background-image: var(--button-bgimage);
}

button:hover{
    background-image: var(--button-bgimage-hover);
}

button:active{
    background-image: var(--button-bgimage-active);
}

/*Website Link --- Tooltip*/
/*Code from W3School*/
main.Main_Body div.Main_Body_Article a.Link_With_Tooltip{
    position: relative;
}

main.Main_Body div.Main_Body_Article a.Link_With_Tooltip span.Tooltip_Word{
    visibility: hidden;

    background-color: hsla(60, 100%, 95%, 0.9);
    color: black;

    text-align: center;

    border-radius: 6px;
    padding: 5px 3px 5px 3px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    width: auto;
    margin-left: -100px;
    margin-right: -100px;
    
    /*To show it in 1s*/
    opacity: 0;
    transition: opacity 1s;
}

main.Main_Body div.Main_Body_Article a.Link_With_Tooltip span.Tooltip_Word::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent hsla(60, 100%, 95%, 0.9) transparent;
}
    

main.Main_Body div.Main_Body_Article a.Link_With_Tooltip:hover span.Tooltip_Word{
    visibility: visible;
    opacity: 1;
}

/*Social Links --- BgColor*/
div.Social_Link > div a:hover{
    color: var(--social-link-hover-grey);
}

div.Social_Link > div a:active{
    color: var(--social-link-active-grey);
}

div.Social_Link > div:hover{
    background-color: rgb(238,238,238);
    transition: background-color 0.2s linear;
}

/*Util Buttons --- Border*/
div.Util_Buttons > button:hover,
div.Util_Buttons > div#Volume_Wrapper:hover{
    background-color: var(--button-bgimage);
    border-color: var(--util-button-border-hover);
    box-shadow: 1px 1px 1px rgba(49, 251, 251, 0.9), -1px -1px 1px rgba(49, 251, 251, 0.9);
}

/*hr --- margin*/
@keyframes HrMargin{
    0%{
        margin: 10px 100px;
    }
    50%{
        margin: 10px 55px;
    }
    100%{
        margin: 10px 10px;
    }    
}

div.Main_Body_Article hr:hover{
    animation: HrMargin 0.3s linear both;
}

/*headings --- padding-left*/
@keyframes HeadingPadding{
    0%{
        padding-left: 0px;
    }
    100%{
        padding-left: 40px;
    }
}

main.Main_Body h2:hover, main.Main_Body h3:hover, main.Main_Body h4:hover{
    animation: HeadingPadding 0.5s ease-in-out both;
}

/*TOC_Item --- border*/
@keyframes TOCBorder{
    0%{
        border-top-color: rgba(255, 166, 0, 0);
        border-bottom-color: rgba(255, 166, 0, 0);
    }
    50%{
        border-top-color: rgba(255, 166, 0, 0.5);
        border-bottom-color: rgba(255, 166, 0, 0.5);
    }
    100%{
        border-top-color: orange;
        border-bottom-color: orange;
    }
}

nav.TOC ul#TOC li:hover{
    border-left-color: transparent !important;
    animation: TOCBorder 0.1s ease-out both;
}

nav.TOC ul#TOC li:hover{
    cursor: pointer;
    color: lightcoral;
}

nav.TOC ul#TOC li.TOC_Current{
    padding-left: 5px !important;
    transition: padding-left 0.5s;
    border-left-color: lightgreen;
}