/*The Author*/
div.Author{
    background-color: white;

    padding: 10px;
}

div.Author div.Author_Photo{
    padding: 2px;
}

div.Author div.Author_Photo img#Author{
    display: block;

    border-style: solid;
    border-width: 5px;
    border-color: rgb(181, 237, 241);
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    width: 70%;

    border-radius: 50%;
}

div.Author div.Author_Data p#Author_Name,
div.Author div.Author_Data p#Author_Sentence{
    text-align: center;
}

div.Author div.Author_Data p#Author_Name{
    margin: 10px 3px 3px 3px;

    border-style: none;

    font-family: "Microsoft Yahei UI Bold";
    font-size: 20px;
    font-weight: 1000;
}