/*The Header part*/
.Header{
    background-color: hsla(41, 100%, 95%, 0.8);
    
    border-style: solid;
    border-width: medium;
    border-color: indianred;

    padding: 0px 15px 15px;
}

.Header h1{
    margin: 5px 0px 5px;

    font-family: "Aquatico Regular";
    font-size: 48px;
    font-weight: bold;
}

.Header p, .Header a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    line-height: 30px;

    margin: 3px;
}

.Header strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 650;
    text-decoration: underline;
}

.Header code{
    background-color: peachpuff;
    margin: 0px 2px 0px;

    border-style: none;
    border-radius: 5px;

    padding: 3px;

    font-family: 'Fira Code', 'Courier New', sans-serif;
    font-size: 18px;
    color: indianred;
}