/*The Header part*/
header.Header{
    background-color: hsla(41, 100%, 95%, 0.9);
    
    border-style: solid;
    border-width: medium;
    border-color: indianred;

    padding: 0px 15px 15px;
}

header.Header h1{
    margin: 5px 0px 5px;

    font-family: "Gagalin Regular", "Comic Sans MS"; /*There must me an alternate font otherwise the page will be ugly*/;
    font-size: 48px;
    font-weight: bold;
}

header.Header p, header.Header a, header.Header marquee{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    line-height: 30px;

    margin: 3px;
}

header.Header strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 650;
    text-decoration: underline;
}

header.Header code{
    background-color: peachpuff;
    margin: 0px 2px 0px;

    border-style: none;
    border-radius: 5px;

    padding: 3px;

    font-family: 'Fira Code', 'Consolas', sans-serif;
    font-size: 18px;
    color: indianred;
}

/*The Survey Banner*/
div.Survey_Banner{
    background-color: rgb(221, 255, 255);
    margin: 10px 10px 10px 30px;
    border-style: none none none solid;
    border-left-color: cornflowerblue;
    border-left-width: 3px;
    padding: 8px;
}

div.Survey_Banner p, div.Survey_Banner a{
    font-family: "Bigmouth Regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
}