/*The Main_Body*/
main.Main_Body{
    background-color: hsla(41, 100%, 95%, 0.9);
    
    border-style: dashed;
    border-width: thick;
    border-radius: 25px;
    border-color: indianred;

    padding: 10px;
}

/*The Main_Body_Title*/
div.Main_Body_Title{
    margin: 0px;

    border-style: none;
    border-radius: 0px;

    padding: 5px
}

div.Main_Body_Title h2{
    text-align: left;
    font-family: "Gagalin Regular", "Comic Sans MS";
    font-size: 46px;

    margin: 5px;
}

div.Main_Body_Title code{
    background-color: peachpuff;

    border-style: none;
    border-radius: 5px;

    padding: 2px;

    font-family: 'Fira Code', 'Consolas', sans-serif;
    font-size: 18px;
    color: indianred;
    vertical-align: middle;
}

/*The Main_Body_Article*/
div.Main_Body_Article{
    margin: 0px;

    border-style: none;
    border-radius: 0px;

    padding: 5px
}

div.Main_Body_Article h3{
    margin: 10px 0px;

    font-family: "Wander Brave", "Comic Sans MS";
    font-size: 40px;
    font-weight: 300;
}

div.Main_Body_Article h4{
    margin: 10px 0px;

    font-family: "Wander Brave", "Comic Sans MS";
    font-size: 32px;
    font-weight: 200;

    color: rgb(94, 94, 94);
}

div.Main_Body_Article p, div.Main_Body_Article a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;

    margin: 0px 5px 15px 5px;
}

div.Main_Body_Article a{
    text-decoration: underline;
}

div.Main_Body_Article hr{
    border-color: indianred;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 5px;
    background-color: indianred;
    border-radius: 3px;
}

div.Main_Body_Article code{
    background-color: peachpuff;

    border-style: none;
    border-radius: 5px;

    padding: 2px;

    font-family: 'Fira Code', 'Consolas', sans-serif;
    font-size: 15px;
    color: indianred;
}

div.Main_Body_Article kbd{
    background-color: rgb(244, 247, 250);
    
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;

    padding: 2px;

    font-family: 'Fira Code', 'Consolas', sans-serif;
    font-size: 15px;
}

div.Main_Body_Article img{
    margin: 3px;

    vertical-align: middle;
}

div.Main_Body_Article div.Ordered_List ol{
    padding-left: 70px;
}

div.Main_Body_Article div.Ordered_List ol li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Ordered_List ol li span#Font_Fira_Code{
    font-family: 'Fira Code';
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Ordered_List ol li span#Font_Bigmouth{
    font-family: "Bigmouth Regular";
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Ordered_List ol li span#Font_Fabfelt_Script{
    font-family: "Fabfelt Script Bold";
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Ordered_List ol li span#Font_Gagalin{
    font-family: "Gagalin Regular";
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Ordered_List ol li span#Font_Wander_Brave{
    font-family: "Wander Brave";
    font-size: 16px;
    line-height: 24px;
}

div.Main_Body_Article div.Unordered_List ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.Main_Body_Article div.Code_Block{
    background-color: rgb(250, 250, 250);

    margin: 0px 5px 15px 5px;
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 230, 240);
    border-radius: 10px;

    padding-top: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.4em;
}

div.Main_Body_Article div.Code_Block{
    display: grid;
    gap: 3px;
    justify-content: space-between;

    grid-template-columns: auto 30px;
    grid-template-rows: 30px auto;
}

div.Main_Body_Article div.Code_Block span{
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    margin: 3px;

    white-space: pre;
    overflow: auto;

    font-family: 'Fira Code', 'Consolas', sans-serif;
    font-size: 14px;
}

div.Main_Body_Article div.Code_Block button{
    z-index: 10;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    
    color: rgb(51, 51, 51) !important;
    cursor: copy;
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);

    padding: 2px;
}

div.Main_Body_Article div.Code_Block button i{
    font-size: 20px;
}

div.Main_Body_Article i.fa.fa-heart{
    color: red;
}

/*The Main_Body_Update_Data*/
div.Main_Body_Update_Data{
    margin: 0px;

    border-style: none none none solid;
    border-radius: 0px;
    border-left-color: cornflowerblue;
    border-left-width: 5px;
    background-color: rgb(221, 255, 255);

    padding: 5px
}

div.Main_Body_Update_Data p, div.Main_Body_Update_Data a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin: 0px 5px 5px 5px;
}

div.Main_Body_Update_Data img{
    vertical-align: middle;
}

/*The like survey*/
div.Like_Survey p{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

div.Like_Survey p button{
    height: 30px;

    margin-left: 10px;
    margin-right: 10px;

    border-style: solid;
    border-width: thin;
    border-color: black;
}

div.Like_Survey dialog{
    position: fixed;
    bottom: 0px;

    z-index: 10;

    border-style: dashed;
    border-color: skyblue;
    border-width: 3px;
    border-top-right-radius: 30px;

    background-color: peachpuff;
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
}

div.Like_Survey dialog p, div.Like_Survey dialog form p label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
}

div.Like_Survey dialog form menu{
    text-align: center;
}

div.Like_Survey dialog form menu button{
    height: 30px;

    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 5px;
}

div.Like_Survey output{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/*The Counters*/
main.Main_Body{
    counter-reset: section;
}

main.Main_Body h3::before{
    counter-increment: section;
    content: "0x0"counter(section) ".";
}

main.Main_Body h3{
    counter-reset: subsection;
}

main.Main_Body h4::before{
    counter-increment: subsection;
    content: "0x0"counter(section)"."counter(subsection)" ";
}