/*The background img*/
body {
    /*The image(Hill Top-Isaac Wendlanda.jpg) is now uploaded to imgtu*/
    background-image: url("https://s4.ax1x.com/2022/02/05/HniRun.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;

    padding: 100px 200px 100px;
}

/*Define some fonts using @font-face*/
@font-face {
    font-family: "Fira Code";
    src: url("../Fonts/FiraCode-Regular.woff");
}

@font-face {
    font-family: "Fabfelt Script Bold";
    src: url("../Fonts/FabfeltScript-Bold-2.woff");
}

@font-face {
    font-family: "Aquatico Regular";
    src: url("../Fonts/Aquatico-Regular-2.woff");
}