/*The Author*/
.Sidebar .Author{
    background-color: white;
    width: 230px !important; /*Then the total width will be 260px --- see the padding?*/

    margin-bottom: 20px;
    padding: 15px;

    /*Code from W3School*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

.Sidebar .Author div.Author_Photo{
    padding: 2px;
}

.Sidebar .Author div.Author_Photo img#Author{
    display: block;

    border-style: solid;
    border-width: 5px;
    border-color: rgba(100, 245, 255, 0.6);
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    width: 167px;
}

.Sidebar .Author div.Author_Data p#Author_Name,
.Sidebar .Author div.Author_Data p#Author_Sentence{
    text-align: center;
}

.Sidebar .Author div.Author_Data p#Author_Name{
    margin: 10px 3px 3px 3px;

    border-style: none;

    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 20px;
    font-weight: 800;
}

.Sidebar .Author div.Author_Data p#Author_Sentence{
    margin-top: 10px;

    border-style: none;

    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 16px;
    font-weight: 500;
}

/*Social Link Buttons*/
div.Social_Link{
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

div.Social_Link div.GitHub{
    grid-area: 1 / 1 / 2 / 2;
}

div.Social_Link div.Email{
    grid-area: 1 / 2 / 2 / 3;
}

div.Social_Link div.Website{
    grid-area: 2 / 1 / 3 / 2;
}

div.Social_Link div.RSS{
    grid-area: 2 / 2 / 3 / 3;
}

div.Social_Link p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*The Data div*/
.Sidebar .Data{
    background-color: white;
    width: 230px !important; /*Then the total width will be 260px --- see the padding?*/

    margin-top: 20px;
    padding: 15px;

    /*Code from W3School*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}