/*The Author*/
aside.Sidebar div.Author{
    background-color: white;
    width: 230px !important; /*Then the total width will be 260px --- see the padding?*/

    margin-bottom: 20px;
    padding: 15px;

    /*Code from W3School*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

aside.Sidebar div.Author div.Author_Photo{
    padding: 2px;
}

aside.Sidebar div.Author div.Author_Photo img#Author{
    display: block;

    border-style: solid;
    border-width: 5px;
    border-color: rgba(100, 245, 255, 0.6);
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    width: 167px;
}

aside.Sidebar div.Author div.Author_Data p#Author_Name,
aside.Sidebar div.Author div.Author_Data p#Author_Sentence{
    text-align: center;
}

aside.Sidebar div.Author div.Author_Data p#Author_Name{
    margin: 10px 3px 3px 3px;

    border-style: none;

    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 20px;
    font-weight: 800;
}

aside.Sidebar div.Author div.Author_Data p#Author_Sentence{
    margin-top: 10px;

    border-style: none;

    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 16px;
    font-weight: 500;
}

/*Social Link Buttons*/
div.Social_Link{
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

div.Social_Link div.GitHub{
    grid-area: 1 / 1 / 2 / 2;
}

div.Social_Link div.Email{
    grid-area: 1 / 2 / 2 / 3;
}

div.Social_Link div.Website{
    grid-area: 2 / 1 / 3 / 2;
}

div.Social_Link div.RSS{
    grid-area: 2 / 2 / 3 / 3;
}

div.Social_Link > div {
    background-color: white;

    border-style: hidden;
    border-radius: 5px;
    padding: 3px;

    text-align: center;
}

div.Social_Link > div span{
    font-family: "Bigmouth Regular", Arial, Helvetica, sans-serif;
}

div.Social_Link > div a{
    text-decoration: none;
}

div.Social_Link > div a:link{
    color: black;
}

/*The Data div*/
aside.Sidebar div.Data{
    background-color: white;
    width: 230px !important; /*Then the total width will be 260px --- see the padding?*/

    margin-top: 20px;
    padding: 15px;

    /*Code from W3School*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

aside.Sidebar div.Data h3{
    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 22px;
    font-weight: 500;

    margin: 12px 0px 12px 0px;

    text-align: center;
}

aside.Sidebar div.Data div.Busuanzi_Data{
    margin-top: 5px;

    text-align: center;
}

aside.Sidebar div.Data div.Busuanzi_Data span#busuanzi_container_site_pv, aside.Sidebar div.Data span#busuanzi_container_site_uv{
    display: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;

    margin: 3px;
}

/*The TOC*/
nav.TOC{
    background-color: white;
    width: 230px !important; /*Then the total width will be 260px --- see the padding?*/

    margin-bottom: 20px;
    padding: 15px;

    /*Code from W3School*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

nav.TOC h3{
    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 22px;
    font-weight: 500;

    margin: 12px 0px 12px 0px;

    text-align: center;
}

nav.TOC ul#TOC{
    padding-left: 0px;
    list-style-type: none;
}

nav.TOC ul#TOC li{
    margin: 5px 0px 5px 0px;

    border-style: solid;
    border-color: transparent;
    border-width: 2px;
}

nav.TOC ul#TOC li.TOC_Item_H3{
    padding-left: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

nav.TOC ul#TOC li.TOC_Item_H4{
    padding-left: 30px;

    font-family: "Fabfelt Script Bold", Arial, Helvetica;
    font-size: 14px;
    line-height: 24px;
}