/*The Grid-Container wrapper*/
div.Wrapper {
    display: grid;
    gap: 20px;

    /*To fix the original width of the Author div after fixed on page*/
    grid-template-columns: 260px auto 260px;
}

header.Header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

aside.Sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

main.Main_Body{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

footer.Footer{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

nav.TOC{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

@media screen and (max-width: 1000px) {
    body{
        background-image: url("https://s1.ax1x.com/2022/03/10/bhK8w4.jpg");
        padding: 20px 30px 20px;
    }

    div.Wrapper{
        gap: 10px;
        grid-template-columns: 100%;
    }

    header.Header{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    aside.Sidebar{
        display: none;
    }
    
    main.Main_Body{
        grid-column: 1 / 2;
        grid-row: 3 / 10;
    }

    footer.Footer{
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }

    nav.TOC{
        display: none;
    }

    .Header p{
        margin: 15px;
    }
}

::selection{
    background: rgb(38, 42, 48);
    color: rgb(238, 238, 238);
}