/*The Grid-Container wrapper*/
.Wrapper {
    display: grid;
    gap: 20px;
}

.Header{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.Author{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.Main_Body{
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}

.Footer{
    grid-column: 2 / 6;
    grid-row: 6 / 7;
}

@media screen and (max-width: 1000px) {
    body{
        background-image: url("https://s4.ax1x.com/2022/02/05/Hnigjs.jpg");
        padding: 20px 30px 20px;
    }

    .Wrapper{
        gap: 10px;
    }

    .Header{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .Author{
        display: none;
    }
    
    .Main_Body{
        grid-column: 1 / 2;
        grid-row: 3 / 10;
    }

    .Footer{
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }

    .Header p{
        margin: 15px;
    }
}

::selection {
    background: rgb(38, 42, 48);
    color: rgb(238, 238, 238);
  }